interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://login.mailchimp.com/oauth2/metadata
  response:
    body:
      string: '{"dc":"us22","role":"owner","accountname":"coldglue","user_id":213937346,"login":{"email":"brendan@hotglue.io","avatar":null,"login_id":229799674,"login_name":"brendan@hotglue.io","login_email":"brendan@hotglue.io"},"login_url":"https:\/\/login.mailchimp.com","api_endpoint":"https:\/\/us22.api.mailchimp.com"}'
    headers:
      Content-Type:
      - application/json
      intuit_tid:
      - 1-6a209d0e-5d56bae23eb0afaf0accb0d9
      x-intuit-upstream-locality-region:
      - us-east-2
      x-spanid:
      - e3231a1c-772d-d557-3914-7c6aaf4fb67b
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://us22.api.mailchimp.com/3.0/lists?count=1000
  response:
    body:
      string: '{"lists":[{"id":"e96f6f2501","web_id":5798,"name":"coldglue","contact":{"company":"coldglue","address1":"1354
        Oak St NW","address2":"","city":"Washington","state":"DC","zip":"20010-3430","country":"US","phone":"3133200924"},"permission_reminder":"You
        are receiving this email because you opted in via our website.","use_archive_bar":true,"campaign_defaults":{"from_name":"coldglue","from_email":"brendan@hotglue.io","subject":"","language":"en"},"notify_on_subscribe":"","notify_on_unsubscribe":"","date_created":"2024-06-17T21:58:13+00:00","list_rating":0,"email_type_option":false,"subscribe_url_short":"http://eepurl.com/iScTUo","subscribe_url_long":"https://hotglue.us22.list-manage.com/subscribe?u=162ba459cc79de4b28b2374c7&id=e96f6f2501","beamer_address":"us22-f8916c61e1-93f9016b80@inbound.mailchimp.com","visibility":"prv","double_optin":false,"has_welcome":false,"marketing_permissions":false,"modules":[],"stats":{"member_count":11,"unsubscribe_count":1,"cleaned_count":3,"member_count_since_send":0,"unsubscribe_count_since_send":0,"cleaned_count_since_send":0,"campaign_count":25,"campaign_last_sent":"","merge_field_count":6,"avg_sub_rate":145,"avg_unsub_rate":0,"target_sub_rate":1,"open_rate":38.46153846153847,"click_rate":0,"last_sub_date":"2026-05-21T14:59:18+00:00","last_unsub_date":"2026-04-16T00:59:40+00:00"},"_links":[{"rel":"self","href":"https://us22.api.mailchimp.com/3.0/lists/e96f6f2501","method":"GET","targetSchema":"https://us22.api.mailchimp.com/schema/3.0/Definitions/Lists/Response.json"},{"rel":"parent","href":"https://us22.api.mailchimp.com/3.0/lists","method":"GET","targetSchema":"https://us22.api.mailchimp.com/schema/3.0/Definitions/Lists/CollectionResponse.json","schema":"https://us22.api.mailchimp.com/schema/3.0/Paths/Lists/Collection.json"},{"rel":"update","href":"https://us22.api.mailchimp.com/3.0/lists/e96f6f2501","method":"PATCH","targetSchema":"https://us22.api.mailchimp.com/schema/3.0/Definitions/Lists/Response.json","schema":"https://us22.api.mailchimp.com/schema/3.0/Definitions/Lists/PATCH.json"},{"rel":"batch-sub-unsub-members","href":"https://us22.api.mailchimp.com/3.0/lists/e96f6f2501","method":"POST","targetSchema":"https://us22.api.mailchimp.com/sc[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://us22.api.mailchimp.com/3.0/lists/e96f6f2501/merge-fields
  response:
    body:
      string: '{"merge_fields":[{"merge_id":3,"tag":"ADDRESS","name":"Address","type":"address","required":false,"default_value":"","public":true,"display_order":6,"options":{"default_country":164},"help_text":"Enter
        your State as an abbreviation, e.g. NY for New York","list_id":"e96f6f2501","_links":[{"rel":"self","href":"https://us22.api.mailchimp.com/3.0/lists/e96f6f2501/merge-fields/3","method":"GET","targetSchema":"https://us22.api.mailchimp.com/schema/3.0/Definitions/Lists/MergeFields/Response.json"},{"rel":"parent","href":"https://us22.api.mailchimp.com/3.0/lists/e96f6f2501/merge-fields","method":"GET","targetSchema":"https://us22.api.mailchimp.com/schema/3.0/Definitions/Lists/MergeFields/CollectionResponse.json","schema":"https://us22.api.mailchimp.com/schema/3.0/Paths/Lists/MergeFields/Collection.json"},{"rel":"update","href":"https://us22.api.mailchimp.com/3.0/lists/e96f6f2501/merge-fields/3","method":"PATCH","targetSchema":"https://us22.api.mailchimp.com/schema/3.0/Definitions/Lists/MergeFields/Response.json","schema":"https://us22.api.mailchimp.com/schema/3.0/Definitions/Lists/MergeFields/PATCH.json"},{"rel":"delete","href":"https://us22.api.mailchimp.com/3.0/lists/e96f6f2501/merge-fields/3","method":"DELETE"}]},{"merge_id":5,"tag":"BIRTHDATE","name":"Birthdate","type":"date","required":false,"default_value":"","public":false,"display_order":38,"options":{"date_format":"MM/DD/YYYY"},"help_text":"","list_id":"e96f6f2501","_links":[{"rel":"self","href":"https://us22.api.mailchimp.com/3.0/lists/e96f6f2501/merge-fields/5","method":"GET","targetSchema":"https://us22.api.mailchimp.com/schema/3.0/Definitions/Lists/MergeFields/Response.json"},{"rel":"parent","href":"https://us22.api.mailchimp.com/3.0/lists/e96f6f2501/merge-fields","method":"GET","targetSchema":"https://us22.api.mailchimp.com/schema/3.0/Definitions/Lists/MergeFields/CollectionResponse.json","schema":"https://us22.api.mailchimp.com/schema/3.0/Paths/Lists/MergeFields/Collection.json"},{"rel":"update","href":"https://us22.api.mailchimp.com/3.0/lists/e96f6f2501/merge-fields/5","method":"PATCH","targetSchema":"https://us22.api.mailchimp.com/schema/3.0/Definitions/Lists/MergeFields/Response.json","schema":"https://us22.api.mailchimp.com/schema/3.0/Definitions/Lists/MergeFields/PATCH.json"},{"rel":"delete","href":"https://us22.api.mailchimp.com/3.0/lists/e96f6f2501/merge-fields/5","method":"DELETE"}]},{"merge_id":1,"tag":"FNAME","name":"First
        Name","type":"text","required":false,"default_value":"","public":false,"display_order":7,"options":{"size":25},"help_text":"","list_id":"e96f6f2501","_links":[{"rel":"self","href":"https://us22.api.mailchimp.com/3.0/lists/e96f6f2501/merge-fields/1","method":"GET","targetSchema":"https://us22.api.mailchimp.com/schema/3.0/Definitions/Lists/MergeFields/Response.json"},{"rel":"parent","href":"https://us22.api.mailchimp.com/3.0/lists/e96f6f2501/merge-fields","method":"GET","targetSchema":"https://us22.api.mailchimp.com/schema/3.0/Definitions/Lists/MergeFields/CollectionResponse.json","schema":"https://us2[...]
- request:
    body: '{"members": [{"email_address": "456789@gmail.com", "status": "subscribed",
      "merge_fields": {"FNAME": "2 Julio", "LNAME": "Cesar", "ADDRESS": {"addr1":
      "337 Via Nazionale", "city": "Rome", "state": "Lazio", "zip": "00184", "country":
      "IT"}}, "location": {"latitude": 41.9028, "longitude": 12.4964, "gmtoff": 0,
      "dstoff": 0, "country_code": "IT", "timezone": "", "region": "Lazio"}, "tags":
      ["red", "greeen"]}, {"email_address": "891011@gmail.com", "status": "subscribed",
      "merge_fields": {"FNAME": "2 Augusto", "LNAME": "Aurelio", "ADDRESS": {"addr1":
      "67 Via Flaminia", "city": "Rome", "state": "Lazio", "zip": "00196", "country":
      "IT"}}, "location": {"latitude": 41.9192, "longitude": 12.4768, "gmtoff": 0,
      "dstoff": 0, "country_code": "IT", "timezone": "", "region": "Lazio"}, "tags":
      ["blue", "greeen"]}], "update_existing": true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://us22.api.mailchimp.com/3.0/lists/e96f6f2501
  response:
    body:
      string: '{"new_members":[{"id":"f1b5985eaf92d5bd58f067302d8c6eb5","contact_id":"e36f7d0aa9fc77cde0bf02db776ff244","email_address":"456789@gmail.com","unique_email_id":"7ec5c9e459","email_type":"html","status":"subscribed","merge_fields":{"ADDRESS":{"addr1":"337
        Via Nazionale","addr2":"","city":"Rome","state":"Lazio","zip":"00184","country":"IT"},"FNAME":"2
        Julio","LNAME":"Cesar","PHONE":"","BIRTHDATE":"","LOOKUPID":""},"interests":{"a8835812e3":false,"b3759742f8":false,"d09f22dd03":false},"stats":{"avg_open_rate":0,"avg_click_rate":0},"ip_signup":"","timestamp_signup":"","ip_opt":"189.4.72.29","timestamp_opt":"2026-06-03T21:30:56+00:00","member_rating":2,"last_changed":"2026-06-03T21:30:56+00:00","language":"","vip":false,"email_client":"","location":{"latitude":41.9028,"longitude":12.4964,"gmtoff":1,"dstoff":2,"country_code":"IT","timezone":"Europe/Rome"},"tags_count":2,"tags":[{"id":29215,"name":"red"},{"id":29216,"name":"greeen"}],"list_id":"e96f6f2501","_links":[{"rel":"self","href":"https://us22.api.mailchimp.com/3.0/lists/e96f6f2501/members/f1b5985eaf92d5bd58f067302d8c6eb5","method":"GET","targetSchema":"https://us22.api.mailchimp.com/schema/3.0/Definitions/Lists/Members/Response.json"},{"rel":"parent","href":"https://us22.api.mailchimp.com/3.0/lists/e96f6f2501/members","method":"GET","targetSchema":"https://us22.api.mailchimp.com/schema/3.0/Definitions/[...]
